.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-label {
  position:relative;
  display: inline-block;
  width: 200px;
  text-align: right;
}

.App-input {
  font: 1em sans-serif;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #999;
}

.App-button {
  margin: 0px 0px 20px 300px;
  height: 30px;
  width: 100px;
}

.App-answer {
  width: 400px;
  text-align: center;
  font-size: xx-large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
